@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  width: 100%;
}

/* custom */
@layer utilities {
  .nav-cta {
    @apply border-white text-white hover:bg-white hover:text-green-midnight hidden md:block;
  }
  .footer-cta {
    @apply border-green-midnight text-green-midnight hover:text-white hover:bg-green-midnight;
  }
  /* custom background */
  .mobile-nav-bg {
    background-image: url("/bg-pattern-about-1-mobile-nav-1.svg");
    background-repeat: no-repeat;
    background-position: bottom 0 right -90px;
  }
  .home-hero {
    background-image: url("/bg-pattern-home-2.svg"),
      url("/bg-pattern-home-1.svg");
    background-repeat: no-repeat;
    background-position:
      bottom 0 right 120px,
      left -100px center;
  }
  .home-hero-sm {
    background-image: url("/bg-pattern-home-2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
  }
  .custom-team-md {
    background-image: url("/bg-pattern-home-3.svg");
    background-repeat: no-repeat;
    background-position: top 0 right -100px;
  }
  .custom-home-ceo1 {
    background-color: #014d56;
    background-image: url("/bg-pattern-home-4-about-3.svg"),
      url("/bg-pattern-home-5.svg");
    background-repeat: no-repeat;
    background-position:
      top left,
      bottom right;
  }
  .about-hero {
    background-image: url("/bg-pattern-about-1-mobile-nav-1.svg");
    background-repeat: no-repeat;
    background-position: bottom -100px right -100px;
  }
  .about-hero-md {
    background-image: url("/bg-pattern-about-1-mobile-nav-1.svg");
    background-repeat: no-repeat;
    background-position: bottom 0 right -100px;
  }
  .custom-about-dir1 {
    background-image: url("/bg-pattern-about-2-contact-1.svg"),
      url("/bg-pattern-home-4-about-3.svg");
    background-repeat: no-repeat;
    background-position:
      top -100px left -100px,
      bottom right;
  }
  .custom-dir-md {
    background-image: url("/bg-pattern-about-2-contact-1.svg"),
      url("/bg-pattern-home-4-about-3.svg");
    background-repeat: no-repeat;
    background-position:
      top 0 left -100px,
      bottom right;
  }
  .about-bg3 {
    background-image: url("/bg-pattern-about-4.svg");
    background-repeat: no-repeat;
    background-position: top -100px left -100px;
  }
  .about-bg3-md {
    background-image: url("/bg-pattern-about-4.svg");
    background-repeat: no-repeat;
    background-position: top -100px left 0;
  }
  .form-bg1 {
    background-image: url("/bg-pattern-contact-2.svg");
    background-repeat: no-repeat;
    background-position: bottom -110px right -100px;
  }
  .get-started {
    background-image: url("/bg-pattern-home-6-about-5.svg");
    background-repeat: no-repeat;
    background-position: bottom -21px left 0;
  }
  .contact-md1 {
    background-image: url("/bg-pattern-about-2-contact-1.svg");
    background-repeat: no-repeat;
    background-position: top 35px left -100px;
  }
  .contact-md2 {
    background-image: url("/bg-pattern-contact-2.svg");
    background-repeat: no-repeat;
    background-position: bottom 0 right -100px;
  }
}
