@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  width: 100%;
}

/* custom */
@layer utilities {
  .nav-cta {
    @apply border-white text-white hover:bg-white hover:text-green-midnight hidden md:block;
  }
  .footer-cta {
    @apply border-green-midnight text-green-midnight hover:text-white hover:bg-green-midnight;
  }
  /* custom background */
  .custom-home-ceo1 {
    background-color: #014d56;
    background-image: url("/bg-pattern-home-4-about-3.svg"),
      url("/bg-pattern-home-5.svg");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }
  .about-hero-md {
    background-image: url("/bg-pattern-about-1-mobile-nav-1.svg");
    background-repeat: no-repeat;
    background-position: 117.5% 100%;
  }
  .custom-about-dir1 {
    background-image: url("/bg-pattern-about-2-contact-1.svg"),
      url("/bg-pattern-home-4-about-3.svg");
    background-repeat: no-repeat;
    background-position: -60% -5.3%, bottom right;
  }
  .custom-dir-md {
    background-image: url("/bg-pattern-about-2-contact-1.svg"),
      url("/bg-pattern-home-4-about-3.svg");
    background-repeat: no-repeat;
    background-position: -18% 0%, bottom right;
  }
  .about-bg3 {
    background-image: url("/bg-pattern-about-4.svg");
    background-repeat: no-repeat;
    background-position: -58.3% -21%;
  }
  .form-bg1 {
    background-image: url("/bg-pattern-contact-2.svg");
    background-repeat: no-repeat;
    background-position: 160% 145%;
  }
  .get-contact {
    background-image: url("/bg-pattern-home-6-about-5.svg");
    background-repeat: no-repeat;
    background-position: 0% 113%;
  }
}
